html{font-family: Arial; background-color:#d4e9d5 ; font-size:medium; box-sizing: border-box;}
h1,h3{color:#2e7d32; background-color: white;}
@import url(https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&displ
ay=swap);
h1{font-family: 'Science Gothic',}
header,footer{background-color: white;margin: 10px;
padding: 5px; border:solid; border-color: white;border-radius: 5px; }
section{background-color: white;margin: 10px;
padding: 5px; border:solid; border-color: white;border-radius: 5px; }
#menu{color: #2e7d32;}
button{ background-color: #2e7d32; color: white; text-align: center; width: 100%; border-radius: 3px;}
button:hover{cursor: pointer;}
table{text-align: center; width: 100%;border-collapse:collapse; padding: auto; margin: auto;}
th{ background-color: #2e7d32; color: white; border: solid; border-color: #2e7d32;}
td{background-color: #f5f5f5;border-color: #ddd;}