* {font-family: Arial, sans-serif;
}
#divEsquerra {
    width: 30%;
    margin: 20px;
    float: left;
    margin-left: 10px;
    border: 2px dotted black;
    padding: 10px;
}
#divDreta {
    width: 30%;
    margin: 20px;
    float: right;
    margin-right: 10px;
    border: 2px dotted black;
    padding: 10px;
}
#divCentral {
    margin: 20px auto;
    padding: 150px;
    text-align: right;
    overflow: auto;
    clear: both;
}
footer {
    color: white;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: rgb(143, 143, 143);
    text-align: center;
    padding: 15px;
}