table, caption{text-align: center; vertical-align: middle; border: 1px,solid darkblue; font-size: 14px;}
thead, tfoot{color: white; background-color: #279c90; text-transform: uppercase;}
td:last-child { font-weight: bold;}
tbody>tr:nth-child(odd){background-color: darkblue; color: white;}
tbody>tr:nth-child(even){background-color: white; color: darkblue;}
caption::selection{color: darkviolet;}
caption:hover{color: rgb(253, 16, 16);}